h1,
h2,
h3,
h4,
h5 {
    font-family: "ZedSans", sans-serif;
}

a {
    color: #bcbec2;
}

b,
strong {
    color: #c9cbcf;
}

html {
    font-family: "ZedSans", sans-serif;
    background-color: #292c32;
    color: #b9bdc6;
    font-size: 1.1em;
    line-height: 1.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    font-family: "ZedSans", sans-serif;
    background-color: #292c32;
    color: #b9bdc6;
    width: 800px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    margin-bottom: 40px;
}
nav a {
    text-decoration: none;
}

nav > .left{
    display: flex;
    flex-direction: row;
}

nav > .right{
    display: flex;
    flex-direction: row;
}
nav > .myname{
    font-weight: 600;
}

.block {
    border: 1px solid #b1b4bc;
    padding: 5px 15px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block h1 {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
}

.small {
    font-size: 0.8em;
}

.wave {
    background: #111;
    color: #fff;
    text-shadow:
        1px 1px 10px #fff,
        1px 1px 10px #ccc;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer hr {
    width: 100%;
}

pre > code {
    border: none;
    padding: 15px;
    font-family: "ZedMono", monospace;
    font-size: 1em;
    line-height: 1.3em !important;
    display: inline-block;
    box-sizing: border-box;
    min-width: 100%;
}

pre {
    color: #b1b4bc;
    font-size: 0.9em;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: #22252a !important;
    overflow: auto;
}

code {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    padding: 2px;
    font-size: 1.1em;
}
